In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "../data/raw/Online Retail.xlsx"
df = pd.read_excel(file_path)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.shape
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df = df[~df["InvoiceNo"].astype(str).str.startswith("C")]

In [5]:
df = df.dropna(subset=["CustomerID"])

In [6]:
df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]

In [7]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["order_date"] = df["InvoiceDate"].dt.date
df["month"] = df["InvoiceDate"].dt.to_period("M").astype(str)
df["revenue"] = df["Quantity"] * df["UnitPrice"]

In [8]:
df[["revenue", "Quantity"]].describe()

             revenue       Quantity
count  397884.000000  397884.000000
mean       22.397000      12.988238
std       309.071041     179.331775
min         0.001000       1.000000
25%         4.680000       2.000000
50%        11.800000       6.000000
75%        19.800000      12.000000
max    168469.600000   80995.000000

In [9]:
df.groupby("month")["revenue"].sum().reset_index().head()

     month     revenue
0  2010-12  572713.890
1  2011-01  569445.040
2  2011-02  447137.350
3  2011-03  595500.760
4  2011-04  469200.361

In [10]:
output_path = "../data/processed/online_retail_cleaned.csv"
df.to_csv(output_path, index=False)

In [12]:
df.to_csv("../data/processed/online_retail_cleaned.csv", index=False)