In [3]:
import os
print("Current working directory:", os.getcwd())
print("SQL file exists:", os.path.exists("../sql/01_create_tables.sql"))

Current working directory: c:\Users\shubh\marketplace-analytics-dashboard\notebooks
SQL file exists: True

In [4]:
import sqlite3
import os

sql_path = os.path.join("..", "sql", "01_create_tables.sql")
db_path = os.path.join("..", "data", "processed", "marketplace.db")

conn = sqlite3.connect(db_path)

with open(sql_path, "r", encoding="utf-8") as f:
    create_table_sql = f.read()

conn.executescript(create_table_sql)
conn.close()

print("✅ Table created successfully in:", db_path)

✅ Table created successfully in: ..\data\processed\marketplace.db

In [5]:
import pandas as pd
import sqlite3
import os

csv_path = os.path.join("..", "data", "processed", "online_retail_cleaned.csv")
db_path = os.path.join("..", "data", "processed", "marketplace.db")

df = pd.read_csv(csv_path)

conn = sqlite3.connect(db_path)
df.to_sql("marketplace_orders", conn, if_exists="append", index=False)
conn.close()

print("✅ Data loaded into marketplace_orders:", len(df), "rows")

✅ Data loaded into marketplace_orders: 397884 rows

In [6]:
import sqlite3
import pandas as pd
import os

db_path = os.path.join("..", "data", "processed", "marketplace.db")
conn = sqlite3.connect(db_path)

pd.read_sql("SELECT COUNT(*) AS row_count FROM marketplace_orders;", conn)

   row_count
0     397884

In [7]:
import os
print("Working directory:", os.getcwd())
print("SQL exists:", os.path.exists("../sql/01_create_tables.sql"))
print("CSV exists:", os.path.exists("../data/processed/online_retail_cleaned.csv"))

Working directory: c:\Users\shubh\marketplace-analytics-dashboard\notebooks
SQL exists: True
CSV exists: True

In [8]:
import sqlite3

db_path = "../data/processed/marketplace.db"
sql_path = "../sql/01_create_tables.sql"

conn = sqlite3.connect(db_path)

with open(sql_path, "r", encoding="utf-8") as f:
    conn.executescript(f.read())

conn.close()
print("✅ Table created in", db_path)

✅ Table created in ../data/processed/marketplace.db

In [9]:
import pandas as pd
import sqlite3

df = pd.read_csv("../data/processed/online_retail_cleaned.csv")

conn = sqlite3.connect("../data/processed/marketplace.db")
df.to_sql("marketplace_orders", conn, if_exists="append", index=False)
conn.close()

print("✅ Loaded rows:", len(df))

✅ Loaded rows: 397884

In [10]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../data/processed/marketplace.db")
pd.read_sql("SELECT COUNT(*) AS row_count FROM marketplace_orders;", conn)

   row_count
0     397884